.card{
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

li{
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}

li .card:hover{
  border: 1px solid blue;
}

ol{
  padding: 0;
}

/* .Grifinória {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
} */

.resultado {
  font-family: arial;
  font-style: italic;
}

.resultado .grifinoria{
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}


/* body{
  background-color: lightgoldenrodyellow;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 2rem;
}

#button{
  background-color: lightsalmon;
  color: white;
  font-size: 18px;
  padding: 5px;
}
 */
