.body {
  background-image: url(../assets/Hogwarts.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: white;
}



.mat-toolbar {
  background: rgba(0,0,0,.6);

}

.loginbtn{
  font-style: normal;
  font-family: arial;
  margin: 15px;
  font-size: 15px;

}

.home{
  font-style: normal;
  font-family: arial;
  margin: 15px;
  font-size: 15px;
}

.diretores {
  font-style: normal;
  font-family: arial;
  margin: 15px;
  font-size: 15px;

}

.aulas {
  font-style: normal;
  font-family: arial;
  margin: 15px;
  font-size: 15px;

}

.alunos {
  font-style: normal;
  font-family: arial;
  margin: 15px;
  font-size: 15px;
}

.diretoresid {
  font-style: normal;
  font-family: arial;
  margin: 15px;
  font-size: 14px;
}

.quiz {
  font-style: normal;
  font-family: arial;
  margin: 15px;
  font-size: 15px;
}
