<body class="body">
<mat-toolbar color="primary">
  <button class="loginbtn" routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    Login
 </button>

 <span class="example-spacer"></span>
 <button  class="home" routerLink="" mat-icon aria-hidden="false" aria-label="Example home icon">
   Home
 </button>
 <button class="diretores" routerLink="/diretores" [queryParams]="{pagina:1}">Diretores</button>
 <!-- <button class="diretoresid" [routerLink]="['diretores', idDiretores.value]">Diretores com id</button> -->
 <button class="aulas" routerLink="/aulas">Aulas</button>
 <button class="quiz" routerLink="/quiz">Quiz</button>
</mat-toolbar>

<div class="container">
  <!-- <p>Pesquisa</p><input #idDiretores> -->
     <router-outlet></router-outlet>

</div>
</body>






