<body class="body">
  <mat-toolbar color="primary">
    <span class="example-spacer"></span>
    <button
      class="home"
      routerLink="/homepage"
      [queryParams]="{ pagina: 1 }"
      mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
    >
      Home
    </button>
    <button
      class="diretores"
      routerLink="/diretores"
      [queryParams]="{ pagina: 2 }"
    >
      Diretores
    </button>
    <button class="aulas" routerLink="/aulas" [queryParams]="{ pagina: 3 }">
      Aulas
    </button>
    <button class="quiz" routerLink="/quiz" [queryParams]="{ pagina: 4 }">
      Quiz
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
