.example-icon{
  margin: 10px;

}

.body {
  background-image: url(../assets/Hogwarts.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mat-toolbar {
  background: rgba(0,0,0,0.75);

}


