.fundador{
  font-family: arial;
  background-color: rgba(0,0,0,0.5);
  color: white;
  margin: 25px;
  text-align: center;
  font-style: italic;

}

.casa{
  font-family: arial;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 35px;

}

.descricao{
  font-family: arial;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 40px;
}
