<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
      <h1>As aulas ainda não começaram!</h1>
      <br />
      <p class="lead">
        Volte no início das aulas para ter acesso às informações!
      </p>
      <br />
      <p class="lead">
        <a class="btn btn-primary btn-lg" (click)="goToPage('homepage')"
          >Início</a
        >
      </p>
    </main>
    <br />

    <footer class="mt-auto text-white-50">
      <p>
        Desenvolvido por
        <a href="https://github.com/wirlianny" class="text-white">@wirlianny</a
        >.
      </p>
    </footer>
  </div>
</body>
